<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 550px">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2" src="/img/logo.png" alt="logo" style="width: 150px; height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Crud</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero natus et hic minus ab ratione nihil ipsam beatae doloremque harum libero tenetur exercitationem, cumque pariatur iste aliquid labore mollitia magnam.</p>
                <a href="/add" class="btn btn-primary"> Crear un usuario </a>
            </div>
        </div>
    </div>
</main>